<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="../../../assets/logos/usls-logo.png"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        @if(signIn) {
        <ng-container class="align-middle">
          <form>
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Sign In</p>
            </div>

            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Sign In
              </button>
              <p class="small fw-bold mt-2 pt-1 mb-0">
                Don't have an account?
                <a (click)="switchView()" class="link-danger">Register</a>
              </p>
            </div>
          </form>
        </ng-container>
        }@else if (verifyEmail) {
        <ng-container>
          <form>
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Verify Email</p>
            </div>
            <div class="mb-3">
              <label for="enterOTP" class="form-label">One Time Password</label>
              <input
                type="text"
                class="form-control"
                id="inputOTP"
                aria-describedby="otp"
              />
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Verify
              </button>
              <p class="small fw-bold mt-2 pt-1 mb-0">
                Didn't Receive yet?
                <a (click)="(0)" class="link-danger">Resend</a>
              </p>
            </div>
          </form>
        </ng-container>
        } @else {
        <ng-container>
          <form>
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Register</p>
            </div>
            <div class="mb-3">
              <label for="inputName" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="inputName"
                aria-describedby="name"
              />
            </div>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email</label>
              <input
                type="inputEmail"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="email"
              />
            </div>
            <div class="mb-3">
              <label for="inputMobileNumber" class="form-label"
                >Mobile number</label
              >
              <input
                type="text"
                class="form-control"
                id="inputMobileNumber"
                aria-describedby="moibileNumber"
              />
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-text" for="exampleCheck1"
                >I agree to the Terms of Service
              </label>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Register
              </button>
              <p class="small fw-bold mt-2 pt-1 mb-0">
                Already have an account?
                <a (click)="switchView()" class="link-danger">Sign In</a>
              </p>
            </div>
          </form>
        </ng-container>
        }
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-secondary"
  >
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">USLS by Jino Thomas</div>
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2024. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="bi bi-github"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>
